.markdown {
  h1 {
    @apply font-black;
    @apply text-5xl;
    @apply my-5;
  }

  h2 {
    @apply font-black;
    @apply text-4xl;
    @apply my-4;
  }

  h3 {
    @apply font-black;
    @apply text-3xl;
    @apply my-4;
  }

  h4 {
    @apply font-black;
    @apply text-2xl;
    @apply my-2;
  }

  h5 {
    @apply font-black;
    @apply text-xl;
    @apply my-1;
  }

  h6 {
    @apply font-black;
    @apply my-1;
  }

  hr {
    @apply my-6;
  }

  ol {
    @apply list-inside;
    @apply list-decimal;
    @apply my-4;
  }

  ul {
    @apply list-inside;
    @apply list-disc;
    @apply my-4;
  }

  p {
    @apply mb-4;
    @apply text-lg leading-relaxed text-gray-800;
    :global(.dark-mode) & {
      @apply text-gray-200;
    }
  }

  code {
    @apply bg-gray-800;
    @apply py-1 px-2;
    @apply text-gray-200;
    @apply rounded-sm;
    @apply my-4;
    @apply text-xs italic;
  }

  pre {
    @apply bg-gray-800;
    @apply text-gray-200;
    @apply p-4 my-12;
    @apply rounded-lg;
    @apply leading-8;
    @apply border-l-8 border-primary;
    code {
      @apply p-0;
      @apply bg-transparent;
      @apply text-gray-200;
      @apply text-base not-italic;
    }
  }

  blockquote {
    @apply rounded-sm;
    @apply relative;
    @apply p-6 my-12;
    &::before,
    &::after {
      content: '';
      @apply h-2;
      @apply bg-primary;
      @apply absolute;
      @apply rounded-full;
    }

    &::before {
      @apply top-0;
      width: 100px;
      left: calc(50% - 50px);
    }

    &::after {
      @apply bottom-0;
      width: 60px;
      left: calc(50% - 30px);
    }

    p {
      @apply font-thin text-2xl italic text-center;
      @apply mb-0;
    }
  }

  a {
    @apply text-blue-800;

    :global(.dark-mode) & {
      @apply text-primary;
    }

    &:hover {
      @apply underline;
    }
  }
}
