/* purgecss start ignore */

.markdown {
  font-size: 16px;

  h1 {
    @apply font-black;
    @apply text-4xl;
    @apply mb-4 mt-8;
  }

  h2 {
    @apply font-black;
    @apply text-3xl;
    @apply mb-3 mt-6;
  }

  h3 {
    @apply font-black;
    @apply text-2xl;
    @apply mb-2 mt-4;
  }

  h4 {
    @apply font-black;
    @apply text-xl;
    @apply mb-1 mt-2;
  }

  h5,
  h6 {
    @apply font-black;
    @apply mb-1 mt-2;
  }

  hr {
    @apply my-6;
  }

  ol {
    @apply list-inside;
    @apply list-decimal;
    @apply my-4;
  }

  ul {
    @apply list-inside;
    @apply list-disc;
    @apply my-4;
  }

  p {
    @apply mb-4;
    @apply text-lg font-light leading-relaxed text-gray-800;
    .dark-mode & {
      @apply text-gray-200;
    }
  }

  code {
    @apply bg-gray-800;
    @apply py-1 px-2;
    @apply text-gray-200;
    @apply rounded-sm;
    @apply my-4;
    @apply text-xs italic;
  }

  pre {
    @apply bg-gray-900;
    @apply text-base text-gray-200;
    @apply p-4 my-12;
    @apply rounded-lg;
    @apply leading-8;
    @apply border-l-8 border-primary;
    @apply overflow-x-auto;
    code {
      @apply p-0;
      @apply bg-transparent;
      @apply text-gray-200;
      @apply text-base not-italic;
    }
    #tip& {
      @apply -mx-4;
      @screen md {
        @apply -mx-6;
      }
      @apply rounded-none;
      @apply px-6;
    }
  }

  blockquote {
    @apply rounded-sm;
    @apply relative;
    @apply p-6 my-12;
    &::before,
    &::after {
      content: '';
      @apply h-2;
      @apply bg-primary;
      @apply absolute;
      @apply rounded-full;
    }

    &::before {
      @apply top-0;
      width: 100px;
      left: calc(50% - 50px);
    }

    &::after {
      @apply bottom-0;
      width: 60px;
      left: calc(50% - 30px);
    }

    p {
      @apply font-thin text-2xl italic text-center;
      @apply mb-0;
    }
  }

  .hljs {
    @apply block overflow-x-auto;
    @apply p-2;
    @apply bg-gray-900;
    @apply text-gray-200;
  }
  .hljs-keyword,
  .hljs-operator {
    @apply text-pink-600;
  }
  .hljs-pattern-match {
    @apply text-pink-600;
  }
  .hljs-pattern-match .hljs-constructor {
    @apply text-blue-600;
  }
  .hljs-function {
    @apply text-blue-600;
  }
  .hljs-function .hljs-params {
    @apply text-green-500;
  }
  .hljs-function .hljs-params .hljs-typing {
    @apply text-orange-400;
  }
  .hljs-module-access .hljs-module {
    @apply text-purple-600;
  }
  .hljs-constructor {
    @apply text-yellow-400;
  }
  .hljs-constructor .hljs-string {
    @apply text-teal-600;
  }
  .hljs-comment,
  .hljs-quote {
    @apply text-red-400;
    font-style: italic;
  }
  .hljs-doctag,
  .hljs-formula {
    @apply text-purple-400;
  }
  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    @apply text-indigo-500;
  }
  .hljs-literal {
    @apply text-indigo-400;
  }
  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    @apply text-green-300;
  }
  .hljs-built_in,
  .hljs-class .hljs-title {
    @apply text-yellow-200;
  }
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    @apply text-orange-400;
  }
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    @apply text-blue-600;
  }
  .hljs-emphasis {
    @apply: italic;
  }
  .hljs-strong {
    @apply font-bold;
  }
  .hljs-link {
    @apply underline;
  }
}

/* purgecss end ignore */
